<p id="notice"><%= notice %></p>

<h1>Listing Dewpoints</h1>

<table>
  <thead>
    <tr>
      <th>Current</th>
      <th>Weather</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dewpoints.each do |dewpoint| %>
      <tr>
        <td><%= dewpoint.current %></td>
        <td><%= dewpoint.weather %></td>
        <td><%= link_to 'Show', dewpoint %></td>
        <td><%= link_to 'Edit', edit_dewpoint_path(dewpoint) %></td>
        <td><%= link_to 'Destroy', dewpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dewpoint', new_dewpoint_path %>
