<p id="notice"><%= notice %></p>

<p>
  <strong>Current:</strong>
  <%= @dewpoint.current %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @dewpoint.weather %>
</p>

<%= link_to 'Edit', edit_dewpoint_path(@dewpoint) %> |
<%= link_to 'Back', dewpoints_path %>
