<p id="notice"><%= notice %></p>

<h1>Listing Windspeeds</h1>

<table>
  <thead>
    <tr>
      <th>Current</th>
      <th>Weather</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @windspeeds.each do |windspeed| %>
      <tr>
        <td><%= windspeed.current %></td>
        <td><%= windspeed.weather %></td>
        <td><%= link_to 'Show', windspeed %></td>
        <td><%= link_to 'Edit', edit_windspeed_path(windspeed) %></td>
        <td><%= link_to 'Destroy', windspeed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Windspeed', new_windspeed_path %>
